# ZSH
export HISTFILE=/devprofile/.zsh_history
export HISTSIZE=5000
export SAVEHIST=5000
setopt SHARE_HISTORY
autoload -Uz compinit
compinit -C

# Git settings
export GIT_EDITOR="vim"
# Let git know that it is managing a lot of files
git config feature.manyFiles true
git config push.autoSetupRemote true
git update-index --index-version 4

# Set the theme
source /workspace/.devcontainer/.devcontainer.zsh-theme
